<p>
  Account name:
  <span id="display-account-name">
    <%- name %> <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
  </span>
  <span id="edit-account-name" style="display: none;">
    <input type="text" value="<%- name %>"> <button type="button">Save</button>
  </span>
</p>
<p>Account Balance: <%- balance %></p>
