// Set the title and the submit button text
$( '#dashboard-modal .modal-title' ).append( 'Add Bank Account' );
$( '#dashboard-modal .modal-footer' ).append( '<button type="button" class="btn btn-primary btn-submit">Create Account</button>' );

// Render the form
$( '#dashboard-modal .modal-body' ).append( '<%= j(render partial: 'form', locals: { account: @account }) %>' );

// Hide the forms submit button as they will use the modals button
$( '#new_bank_account :submit' ).hide();

// If the user clicks on the modals create account button submit the form
$( '#dashboard-modal .btn-submit' ).on( 'click', function() {
    $( '#new_bank_account' ).submit();
});
