<div class="container">
  <div class="row">
    <h2 class="text-center main-heading-margin-bottom">Account Details</h2>
  </div>

  <div class="row">
    <div id="acct-details" class="acct-desc">
    </div>
    <div id='action-links'>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-account-modal">
        Edit Account
      </button>
      <%= link_to 'Delete Account', bank_account_path(@account), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this account?' } %>
    </div>
  </div>

  <div class="row">
    <div class="content-panel">
        <div class="content-panel__heading">
          <h3 class="content-panel__heading__title">Accounts Transactions</h3>
        </div> <!-- /.content-panel__heading -->
        <!-- render patial -->
      </div> <!-- /.content-panel -->
  </div>

</div> <!-- /.container -->

<script>
  var backboneBootstrap = {
    bankAccount: <%= BankAccountSerializer.new(@account).to_json.html_safe %>
  };
</script>
