<div class="container">
  <div class="row">
    <h2 class="text-center main-heading-margin-bottom">Account Details</h2>
  </div>

  <%= react_component('BankAccount.AccoutView', account_to_json(@account)) %>
</div> <!-- /.container -->
