<div class="container">
  <div class="row">
    <h1 class="text-center">Budget Dashboard</h1>
  </div>

  <div class="row">
    <%= render partial: 'recent_transactions' %>
    <%= render partial: 'accounts' %>
  </div> <!-- /.row -->
</div> <!-- /.container -->

<!-- Modal for creating a bank account -->
<div id="action-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="modal-ajax-indicator">
          <div>
            <%= image_tag 'ajax-loader.gif', alt: 'Ajax Loader' %>
            <p>Loading...</p>
          </div>
        </div>
        <div class="content">
        </div> <!-- /.content -->
      </div> <!-- /.modal-body -->
      <div id="modal-buttons" class="modal-footer">
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /#create-account-modal -->
